#profile-section {
  height: 500px;
  display: grid;
  grid-template-columns: repeat(2, minmax(350px, auto));
  grid-template-rows: 100%;
}

.column-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#account-stats {
  padding: 0 40px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 80%;
  max-width: 100%;
  overflow-wrap: break-word;
  min-height: 80%;
  max-height: 100%;
}

#user-details {
  border-right: 1px solid lightgray;
}

.avatar {
  font-weight: bold;
  margin-top: 30px;
  background-color: #4c4c4c;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 2px 2px 10px black;
}

#profile-username {
  margin-bottom: 0;
}

#user-profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

#user-bio {
  font-size: large;
  background-image: linear-gradient(to bottom right, rgba(85, 94, 167, 0.8), rgba(30, 31, 61, 0.8));
  width: 225px;
  max-height: 200px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 10px black;
}

textarea {
  height: 80px;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-image: linear-gradient(to bottom, rgb(69, 73, 125), rgb(64, 75, 197));
  color: rgb(237, 238, 247);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
}

textarea::placeholder {
  color: rgb(237, 238, 247);
  font-size: large;
  padding-left: 5px;
}

#char-count {
  font-size: medium;
}

.bio-btn {
  width: fit-content;
  background-color: rgba(29, 35, 144, 1);
  color: white;
  font-size: large;
  height: 40px;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.bio-btn:hover {
  box-shadow: 2px 2px 6px 2px black;
  background-color: rgba(29, 35, 144, 0.6)
}

.bio-btn-group {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.movies-stat {
  font-size: 20px;
  pointer-events: none;
}

.watched-movies {
  padding-left: 5px;
}

#delete-account-btn {
  margin-bottom: 20px;
}

@media (max-width: 1280px) {
  #popular-movies-section {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  #profile-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 880px;
  }
  #user-details {
    border-right: none;
    border-bottom: 1px solid #3c3c3c;
  }
}
